* { 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}
body { 
    font-family: sans-serif; 
    background: #f5f3fc;
    display: flexbox;
}

/* Header */
header { 
    height: 86px; 
    position: sticky; 
    top: 0; 
    z-index: 100; 
    background: #fff; 
}
.menu { 
    display: flex; 
    align-items: center; 
    padding: 0 40px; 
    height: 100%; 
}
.menuNav { 
    display: flex; 
    align-items: center; 
    gap: 32px; 
    width: 100%; 
}

.menuNav ul li a:hover{
    color: #4169E1;
}

.menuNav ul li a.ativo{
    color: #4169E1;
}

.logo { 
    font-size: 24px; 
    font-weight: bold; 
    text-decoration: none; 
    color: #242933; 
}
.menuNav-list { 
    display: flex; 
    list-style: none; 
    gap: 24px; 
    flex: 1; 
}
.menuNav-item { 
    text-decoration: none; 
    color: #242933; 
    font-size: 14px; 
}


footer { 
    background: #4169E1; 
    color: #fff; 
    padding: 40px; 
    text-align: center; 
    font-size: 13px; 
}  